version: '3.8'
services:
  mongo:
    restart: unless-stopped
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongodbdata:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: wsapp
      MONGO_INITDB_ROOT_PASSWORD: hola123xD
      MONGO_INITDB_DATABASE: wsapp

  redis:
    restart: unless-stopped
    image: redis:latest
    ports:
      - "6379"
    volumes:
      - redisdata:/data

  app:
    restart: unless-stopped
    build: .
    privileged: true
    ports:
      - "8822:3000"
    environment:
      - PORT=8822
      #- NODE_ENV=production
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - MONGO_URI=mongodb://wsapp:hola123xD@mongo:27017/
      - ME_URL=http://s-ws.darkmelon.com:8822
    depends_on:
      - redis
      - mongo
    volumes:
      - appauth:/usr/src/app/.wwebjs_auth
      - appcache:/usr/src/app/.wwebjs_cache
      - appdata:/usr/src/app/data
      - apppublic:/usr/src/app/public

volumes:
  redisdata:
  appauth:
  appcache:
  mongodbdata:
  apppublic:
  appdata: